@tailwind base;
@tailwind components;
@tailwind utilities;

* { font-family: 'Space Grotesk', system-ui, sans-serif; }
.mono { font-family: 'JetBrains Mono', monospace; }

/* custom scroll */
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-thumb { background: rgba(255,255,255,0.15); border-radius: 999px; }
